/* src/styles/Navbar.module.css */
.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: 500;
  justify-content: center;
  padding: 20px 0;
  background-color: #191919;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other elements */
  transition: all 0.3s ease-in-out;
}

.navbar a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    font-size: 18px;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    font-size: 16px;
  }
}
